<!-- Name, DOB(simple textbox), Gender(DropDown), Details(multiline), Phone number with validations for mandatory field for name, gender & gender validation check for date, min/max length for phone)
print all the details in the next page by click on submit -->

<form #userForm="ngForm"  (ngSubmit)="submit()" >
  <div class="form-group">
    <h1>Person Details</h1>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input name="name" required #name='ngModel' [class.is-invalid]="name.invalid && name.touched" type="text" class="form-control" [(ngModel)]="userModel.name">
    <small class="text-danger" [class.d-none]="name.invalid || name.untouched">Name is required!</small>
  </div>
  <div class="form-group">
    <label>Date of Birth</label>
    <input type="date" name="date" class="form-control" [(ngModel)]="userModel.dob">
  </div>
  <div class="form-group">
    <label>Mobile Number</label>
    <input  type="tel" name="phone" #phone="ngModel"
    [class.is-invalid]="phone.invalid && phone.touched" required pattern="[1-9]{1}[0-9]{9}"  class="form-control" [(ngModel)]="userModel.phone" >
    <small [class.d-none] = "phone.valid || phone.untouched">Phone Number is required and must be 10 digits</small>
  </div>
  <div class="form-group">
    <label >Gender</label>
    <select (blur)="validateGender(gender.value)" (change)="validateGender(gender.value)" required #gender="ngModel" 
    [class.is-invalid]="genderHasError && gender.touched" id='gender' name="gender" class="form-control custom-select mb-3" [(ngModel)]="userModel.gender">
      <option value="default">Select</option>
      <option *ngFor="let gender of genders">{{ gender }}</option>
    </select>
    <small class="text-danger" [class.d-none]="!genderHasError || gender.untouched">Please Select one!</small>
  </div>
  <div class="form-group">
    <label>Details</label>
    <textarea cols="20" rows="5" name="details" class="form-control" [(ngModel)]="userModel.details"></textarea>
  </div>
  <div class="form-group">
    <br>
    <button id="submit" ng-click="onSubmit" [disabled]="userForm.form.invalid || genderHasError" type="submit" class="form-control-sm btn btn-primary btn-lg">Submit</button>
  </div>
  <pre id='json'></pre>
</form>